@font-face {
  font-family: 'Cyber';
  src: url('https://assets.codepen.io/605876/Blender-Pro-Bold.otf');
  font-display: swap;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Cyber', sans-serif;
  background: #00b8ff; /* Single blue color */
  color: #fff;
  margin: 0;
  padding: 0;
}

h1 {
  color: #ffff00; /* Yellow text */
  text-shadow: 0 0 10px #ffff00, 0 0 20px #ffff00, 0 0 30px #ffff00, 0 0 40px #00b8ff, 0 0 50px #00b8ff;
  text-align: center;
  margin: 0 20px;
}

.results-container {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

.week {
  margin-bottom: 20px;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.2);
}

.week h2 {
  color: #ffff00; /* Yellow text for week headers */
}

.week p {
  color: #00ff9f; /* Green text for warm-up details */
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

label {
  color: #fff;
  margin-bottom: 10px;
  font-size: 18px;
  text-align: center;
}

input {
  padding: 10px;
  border: 2px solid #00b8ff;
  border-radius: 5px;
  background: #001eff;
  color: #fff;
  font-size: 16px;
  width: 200px;
  text-align: center;
  margin-bottom: 20px;
}

button.submit-btn,
button.back-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(45deg, #d600ff, #00ff9f); /* Cyberpunk colors */
  color: #000;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 12px rgba(214, 0, 255, 0.8), 0 0 20px rgba(214, 0, 255, 0.6); /* Yellow glow effect */
  position: relative;
  margin-top: 10px; /* Space below the input box */
}

button.submit-btn:hover,
button.back-btn:hover {
  background: linear-gradient(45deg, #00ff9f, #d600ff); /* Darker cyberpunk colors on hover */
  box-shadow: 0 0 15px rgba(214, 0, 255, 1), 0 0 25px rgba(214, 0, 255, 0.8); /* Stronger yellow glow on hover */
}

button.submit-btn:after,
button.submit-btn:before,
button.back-btn:after,
button.back-btn:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 70%);
  z-index: -1;
}

button.submit-btn:before,
button.back-btn:before {
  background: rgba(214, 0, 255, 0.6); /* Yellow shadow */
  transform: translate(4px, 4px);
}

button.submit-btn:after,
button.back-btn:after {
  background: linear-gradient(45deg, #d600ff, #00ff9f); /* Yellow gradient */
}

button.submit-btn:active,
button.back-btn:active {
  background: linear-gradient(45deg, #00ff9f, #d600ff); /* Darker yellow gradient on active */
}
